[submodule "common"]
	path = common
	url = https://github.com/erhanbas/common.git
[submodule "mouselight_toolbox"]
	path = mouselight_toolbox
	url = https://github.com/MouseLightProject/mouselight_toolbox
