*.m~
*.mat
*.png
*.tif
*.yml
*.yml_old
*.txt

Thumbs.png
videos/
parfor_progress.txt

2019-05-27-test-stitching-output
stitch_2019_11-11_last_plane.m

*.out.txt

2020-09-15-stitching-output-verify/
2020-09-15-stitching-output-verify-ffeffd0a4/
2020-09-15-stitching-output-verify-old/
2020-09-15-stitching-output-verify-backup/

*.pdf
